    /*
    Flaticon icon font: Flaticon
    Creation date: 25/04/2017 09:15
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-381-add:before { content: "\f100"; }
.flaticon-381-add-1:before { content: "\f101"; }
.flaticon-381-add-2:before { content: "\f102"; }
.flaticon-381-add-3:before { content: "\f103"; }
.flaticon-381-alarm-clock:before { content: "\f104"; }
.flaticon-381-alarm-clock-1:before { content: "\f105"; }
.flaticon-381-album:before { content: "\f106"; }
.flaticon-381-album-1:before { content: "\f107"; }
.flaticon-381-album-2:before { content: "\f108"; }
.flaticon-381-album-3:before { content: "\f109"; }
.flaticon-381-app:before { content: "\f10a"; }
.flaticon-381-archive:before { content: "\f10b"; }
.flaticon-381-back:before { content: "\f10c"; }
.flaticon-381-back-1:before { content: "\f10d"; }
.flaticon-381-back-2:before { content: "\f10e"; }
.flaticon-381-background:before { content: "\f10f"; }
.flaticon-381-background-1:before { content: "\f110"; }
.flaticon-381-battery:before { content: "\f111"; }
.flaticon-381-battery-1:before { content: "\f112"; }
.flaticon-381-battery-2:before { content: "\f113"; }
.flaticon-381-battery-3:before { content: "\f114"; }
.flaticon-381-battery-4:before { content: "\f115"; }
.flaticon-381-battery-5:before { content: "\f116"; }
.flaticon-381-battery-6:before { content: "\f117"; }
.flaticon-381-battery-7:before { content: "\f118"; }
.flaticon-381-battery-8:before { content: "\f119"; }
.flaticon-381-battery-9:before { content: "\f11a"; }
.flaticon-381-binoculars:before { content: "\f11b"; }
.flaticon-381-blueprint:before { content: "\f11c"; }
.flaticon-381-bluetooth:before { content: "\f11d"; }
.flaticon-381-bluetooth-1:before { content: "\f11e"; }
.flaticon-381-book:before { content: "\f11f"; }
.flaticon-381-bookmark:before { content: "\f120"; }
.flaticon-381-bookmark-1:before { content: "\f121"; }
.flaticon-381-box:before { content: "\f122"; }
.flaticon-381-box-1:before { content: "\f123"; }
.flaticon-381-box-2:before { content: "\f124"; }
.flaticon-381-briefcase:before { content: "\f125"; }
.flaticon-381-broken-heart:before { content: "\f126"; }
.flaticon-381-broken-link:before { content: "\f127"; }
.flaticon-381-calculator:before { content: "\f128"; }
.flaticon-381-calculator-1:before { content: "\f129"; }
.flaticon-381-calendar:before { content: "\f12a"; }
.flaticon-381-calendar-1:before { content: "\f12b"; }
.flaticon-381-calendar-2:before { content: "\f12c"; }
.flaticon-381-calendar-3:before { content: "\f12d"; }
.flaticon-381-calendar-4:before { content: "\f12e"; }
.flaticon-381-calendar-5:before { content: "\f12f"; }
.flaticon-381-calendar-6:before { content: "\f130"; }
.flaticon-381-calendar-7:before { content: "\f131"; }
.flaticon-381-clock:before { content: "\f132"; }
.flaticon-381-clock-1:before { content: "\f133"; }
.flaticon-381-clock-2:before { content: "\f134"; }
.flaticon-381-close:before { content: "\f135"; }
.flaticon-381-cloud:before { content: "\f136"; }
.flaticon-381-cloud-computing:before { content: "\f137"; }
.flaticon-381-command:before { content: "\f138"; }
.flaticon-381-compact-disc:before { content: "\f139"; }
.flaticon-381-compact-disc-1:before { content: "\f13a"; }
.flaticon-381-compact-disc-2:before { content: "\f13b"; }
.flaticon-381-compass:before { content: "\f13c"; }
.flaticon-381-compass-1:before { content: "\f13d"; }
.flaticon-381-compass-2:before { content: "\f13e"; }
.flaticon-381-controls:before { content: "\f13f"; }
.flaticon-381-controls-1:before { content: "\f140"; }
.flaticon-381-controls-2:before { content: "\f141"; }
.flaticon-381-controls-3:before { content: "\f142"; }
.flaticon-381-controls-4:before { content: "\f143"; }
.flaticon-381-controls-5:before { content: "\f144"; }
.flaticon-381-controls-6:before { content: "\f145"; }
.flaticon-381-controls-7:before { content: "\f146"; }
.flaticon-381-controls-8:before { content: "\f147"; }
.flaticon-381-controls-9:before { content: "\f148"; }
.flaticon-381-database:before { content: "\f149"; }
.flaticon-381-database-1:before { content: "\f14a"; }
.flaticon-381-database-2:before { content: "\f14b"; }
.flaticon-381-diamond:before { content: "\f14c"; }
.flaticon-381-diploma:before { content: "\f14d"; }
.flaticon-381-dislike:before { content: "\f14e"; }
.flaticon-381-divide:before { content: "\f14f"; }
.flaticon-381-division:before { content: "\f150"; }
.flaticon-381-division-1:before { content: "\f151"; }
.flaticon-381-download:before { content: "\f152"; }
.flaticon-381-earth-globe:before { content: "\f153"; }
.flaticon-381-earth-globe-1:before { content: "\f154"; }
.flaticon-381-edit:before { content: "\f155"; }
.flaticon-381-edit-1:before { content: "\f156"; }
.flaticon-381-eject:before { content: "\f157"; }
.flaticon-381-eject-1:before { content: "\f158"; }
.flaticon-381-enter:before { content: "\f159"; }
.flaticon-381-equal:before { content: "\f15a"; }
.flaticon-381-equal-1:before { content: "\f15b"; }
.flaticon-381-equal-2:before { content: "\f15c"; }
.flaticon-381-error:before { content: "\f15d"; }
.flaticon-381-exit:before { content: "\f15e"; }
.flaticon-381-exit-1:before { content: "\f15f"; }
.flaticon-381-exit-2:before { content: "\f160"; }
.flaticon-381-fast-forward:before { content: "\f161"; }
.flaticon-381-fast-forward-1:before { content: "\f162"; }
.flaticon-381-file:before { content: "\f163"; }
.flaticon-381-file-1:before { content: "\f164"; }
.flaticon-381-file-2:before { content: "\f165"; }
.flaticon-381-film-strip:before { content: "\f166"; }
.flaticon-381-film-strip-1:before { content: "\f167"; }
.flaticon-381-fingerprint:before { content: "\f168"; }
.flaticon-381-flag:before { content: "\f169"; }
.flaticon-381-flag-1:before { content: "\f16a"; }
.flaticon-381-flag-2:before { content: "\f16b"; }
.flaticon-381-flag-3:before { content: "\f16c"; }
.flaticon-381-flag-4:before { content: "\f16d"; }
.flaticon-381-focus:before { content: "\f16e"; }
.flaticon-381-folder:before { content: "\f16f"; }
.flaticon-381-folder-1:before { content: "\f170"; }
.flaticon-381-folder-10:before { content: "\f171"; }
.flaticon-381-folder-11:before { content: "\f172"; }
.flaticon-381-folder-12:before { content: "\f173"; }
.flaticon-381-folder-13:before { content: "\f174"; }
.flaticon-381-folder-14:before { content: "\f175"; }
.flaticon-381-folder-15:before { content: "\f176"; }
.flaticon-381-folder-16:before { content: "\f177"; }
.flaticon-381-folder-17:before { content: "\f178"; }
.flaticon-381-folder-18:before { content: "\f179"; }
.flaticon-381-folder-19:before { content: "\f17a"; }
.flaticon-381-folder-2:before { content: "\f17b"; }
.flaticon-381-folder-3:before { content: "\f17c"; }
.flaticon-381-folder-4:before { content: "\f17d"; }
.flaticon-381-folder-5:before { content: "\f17e"; }
.flaticon-381-folder-6:before { content: "\f17f"; }
.flaticon-381-folder-7:before { content: "\f180"; }
.flaticon-381-folder-8:before { content: "\f181"; }
.flaticon-381-folder-9:before { content: "\f182"; }
.flaticon-381-forbidden:before { content: "\f183"; }
.flaticon-381-funnel:before { content: "\f184"; }
.flaticon-381-gift:before { content: "\f185"; }
.flaticon-381-heart:before { content: "\f186"; }
.flaticon-381-heart-1:before { content: "\f187"; }
.flaticon-381-help:before { content: "\f188"; }
.flaticon-381-help-1:before { content: "\f189"; }
.flaticon-381-hide:before { content: "\f18a"; }
.flaticon-381-high-volume:before { content: "\f18b"; }
.flaticon-381-home:before { content: "\f18c"; }
.flaticon-381-home-1:before { content: "\f18d"; }
.flaticon-381-home-2:before { content: "\f18e"; }
.flaticon-381-home-3:before { content: "\f18f"; }
.flaticon-381-hourglass:before { content: "\f190"; }
.flaticon-381-hourglass-1:before { content: "\f191"; }
.flaticon-381-hourglass-2:before { content: "\f192"; }
.flaticon-381-id-card:before { content: "\f193"; }
.flaticon-381-id-card-1:before { content: "\f194"; }
.flaticon-381-id-card-2:before { content: "\f195"; }
.flaticon-381-id-card-3:before { content: "\f196"; }
.flaticon-381-id-card-4:before { content: "\f197"; }
.flaticon-381-id-card-5:before { content: "\f198"; }
.flaticon-381-idea:before { content: "\f199"; }
.flaticon-381-incoming-call:before { content: "\f19a"; }
.flaticon-381-infinity:before { content: "\f19b"; }
.flaticon-381-internet:before { content: "\f19c"; }
.flaticon-381-key:before { content: "\f19d"; }
.flaticon-381-knob:before { content: "\f19e"; }
.flaticon-381-knob-1:before { content: "\f19f"; }
.flaticon-381-layer:before { content: "\f1a0"; }
.flaticon-381-layer-1:before { content: "\f1a1"; }
.flaticon-381-like:before { content: "\f1a2"; }
.flaticon-381-link:before { content: "\f1a3"; }
.flaticon-381-link-1:before { content: "\f1a4"; }
.flaticon-381-list:before { content: "\f1a5"; }
.flaticon-381-list-1:before { content: "\f1a6"; }
.flaticon-381-location:before { content: "\f1a7"; }
.flaticon-381-location-1:before { content: "\f1a8"; }
.flaticon-381-location-2:before { content: "\f1a9"; }
.flaticon-381-location-3:before { content: "\f1aa"; }
.flaticon-381-location-4:before { content: "\f1ab"; }
.flaticon-381-locations:before { content: "\f1ac"; }
.flaticon-381-lock:before { content: "\f1ad"; }
.flaticon-381-lock-1:before { content: "\f1ae"; }
.flaticon-381-lock-2:before { content: "\f1af"; }
.flaticon-381-lock-3:before { content: "\f1b0"; }
.flaticon-381-low-volume:before { content: "\f1b1"; }
.flaticon-381-low-volume-1:before { content: "\f1b2"; }
.flaticon-381-low-volume-2:before { content: "\f1b3"; }
.flaticon-381-low-volume-3:before { content: "\f1b4"; }
.flaticon-381-magic-wand:before { content: "\f1b5"; }
.flaticon-381-magnet:before { content: "\f1b6"; }
.flaticon-381-magnet-1:before { content: "\f1b7"; }
.flaticon-381-magnet-2:before { content: "\f1b8"; }
.flaticon-381-map:before { content: "\f1b9"; }
.flaticon-381-map-1:before { content: "\f1ba"; }
.flaticon-381-map-2:before { content: "\f1bb"; }
.flaticon-381-menu:before { content: "\f1bc"; }
.flaticon-381-menu-1:before { content: "\f1bd"; }
.flaticon-381-menu-2:before { content: "\f1be"; }
.flaticon-381-menu-3:before { content: "\f1bf"; }
.flaticon-381-microphone:before { content: "\f1c0"; }
.flaticon-381-microphone-1:before { content: "\f1c1"; }
.flaticon-381-more:before { content: "\f1c2"; }
.flaticon-381-more-1:before { content: "\f1c3"; }
.flaticon-381-more-2:before { content: "\f1c4"; }
.flaticon-381-multiply:before { content: "\f1c5"; }
.flaticon-381-multiply-1:before { content: "\f1c6"; }
.flaticon-381-music-album:before { content: "\f1c7"; }
.flaticon-381-mute:before { content: "\f1c8"; }
.flaticon-381-mute-1:before { content: "\f1c9"; }
.flaticon-381-mute-2:before { content: "\f1ca"; }
.flaticon-381-network:before { content: "\f1cb"; }
.flaticon-381-network-1:before { content: "\f1cc"; }
.flaticon-381-network-2:before { content: "\f1cd"; }
.flaticon-381-network-3:before { content: "\f1ce"; }
.flaticon-381-networking:before { content: "\f1cf"; }
.flaticon-381-networking-1:before { content: "\f1d0"; }
.flaticon-381-news:before { content: "\f1d1"; }
.flaticon-381-newspaper:before { content: "\f1d2"; }
.flaticon-381-next:before { content: "\f1d3"; }
.flaticon-381-next-1:before { content: "\f1d4"; }
.flaticon-381-note:before { content: "\f1d5"; }
.flaticon-381-notebook:before { content: "\f1d6"; }
.flaticon-381-notebook-1:before { content: "\f1d7"; }
.flaticon-381-notebook-2:before { content: "\f1d8"; }
.flaticon-381-notebook-3:before { content: "\f1d9"; }
.flaticon-381-notebook-4:before { content: "\f1da"; }
.flaticon-381-notebook-5:before { content: "\f1db"; }
.flaticon-381-notepad:before { content: "\f1dc"; }
.flaticon-381-notepad-1:before { content: "\f1dd"; }
.flaticon-381-notepad-2:before { content: "\f1de"; }
.flaticon-381-notification:before { content: "\f1df"; }
.flaticon-381-off:before { content: "\f1e0"; }
.flaticon-381-on:before { content: "\f1e1"; }
.flaticon-381-pad:before { content: "\f1e2"; }
.flaticon-381-padlock:before { content: "\f1e3"; }
.flaticon-381-padlock-1:before { content: "\f1e4"; }
.flaticon-381-padlock-2:before { content: "\f1e5"; }
.flaticon-381-panel:before { content: "\f1e6"; }
.flaticon-381-panel-1:before { content: "\f1e7"; }
.flaticon-381-panel-2:before { content: "\f1e8"; }
.flaticon-381-panel-3:before { content: "\f1e9"; }
.flaticon-381-paperclip:before { content: "\f1ea"; }
.flaticon-381-pause:before { content: "\f1eb"; }
.flaticon-381-pause-1:before { content: "\f1ec"; }
.flaticon-381-pencil:before { content: "\f1ed"; }
.flaticon-381-percentage:before { content: "\f1ee"; }
.flaticon-381-percentage-1:before { content: "\f1ef"; }
.flaticon-381-perspective:before { content: "\f1f0"; }
.flaticon-381-phone-call:before { content: "\f1f1"; }
.flaticon-381-photo:before { content: "\f1f2"; }
.flaticon-381-photo-camera:before { content: "\f1f3"; }
.flaticon-381-photo-camera-1:before { content: "\f1f4"; }
.flaticon-381-picture:before { content: "\f1f5"; }
.flaticon-381-picture-1:before { content: "\f1f6"; }
.flaticon-381-picture-2:before { content: "\f1f7"; }
.flaticon-381-pin:before { content: "\f1f8"; }
.flaticon-381-play-button:before { content: "\f1f9"; }
.flaticon-381-play-button-1:before { content: "\f1fa"; }
.flaticon-381-plus:before { content: "\f1fb"; }
.flaticon-381-presentation:before { content: "\f1fc"; }
.flaticon-381-price-tag:before { content: "\f1fd"; }
.flaticon-381-print:before { content: "\f1fe"; }
.flaticon-381-print-1:before { content: "\f1ff"; }
.flaticon-381-privacy:before { content: "\f200"; }
.flaticon-381-promotion:before { content: "\f201"; }
.flaticon-381-promotion-1:before { content: "\f202"; }
.flaticon-381-push-pin:before { content: "\f203"; }
.flaticon-381-quaver:before { content: "\f204"; }
.flaticon-381-quaver-1:before { content: "\f205"; }
.flaticon-381-radar:before { content: "\f206"; }
.flaticon-381-reading:before { content: "\f207"; }
.flaticon-381-receive:before { content: "\f208"; }
.flaticon-381-record:before { content: "\f209"; }
.flaticon-381-repeat:before { content: "\f20a"; }
.flaticon-381-repeat-1:before { content: "\f20b"; }
.flaticon-381-resume:before { content: "\f20c"; }
.flaticon-381-rewind:before { content: "\f20d"; }
.flaticon-381-rewind-1:before { content: "\f20e"; }
.flaticon-381-ring:before { content: "\f20f"; }
.flaticon-381-ring-1:before { content: "\f210"; }
.flaticon-381-rotate:before { content: "\f211"; }
.flaticon-381-rotate-1:before { content: "\f212"; }
.flaticon-381-route:before { content: "\f213"; }
.flaticon-381-save:before { content: "\f214"; }
.flaticon-381-search:before { content: "\f215"; }
.flaticon-381-search-1:before { content: "\f216"; }
.flaticon-381-search-2:before { content: "\f217"; }
.flaticon-381-search-3:before { content: "\f218"; }
.flaticon-381-send:before { content: "\f219"; }
.flaticon-381-send-1:before { content: "\f21a"; }
.flaticon-381-send-2:before { content: "\f21b"; }
.flaticon-381-settings:before { content: "\f21c"; }
.flaticon-381-settings-1:before { content: "\f21d"; }
.flaticon-381-settings-2:before { content: "\f21e"; }
.flaticon-381-settings-3:before { content: "\f21f"; }
.flaticon-381-settings-4:before { content: "\f220"; }
.flaticon-381-settings-5:before { content: "\f221"; }
.flaticon-381-settings-6:before { content: "\f222"; }
.flaticon-381-settings-7:before { content: "\f223"; }
.flaticon-381-settings-8:before { content: "\f224"; }
.flaticon-381-settings-9:before { content: "\f225"; }
.flaticon-381-share:before { content: "\f226"; }
.flaticon-381-share-1:before { content: "\f227"; }
.flaticon-381-share-2:before { content: "\f228"; }
.flaticon-381-shuffle:before { content: "\f229"; }
.flaticon-381-shuffle-1:before { content: "\f22a"; }
.flaticon-381-shut-down:before { content: "\f22b"; }
.flaticon-381-silence:before { content: "\f22c"; }
.flaticon-381-silent:before { content: "\f22d"; }
.flaticon-381-smartphone:before { content: "\f22e"; }
.flaticon-381-smartphone-1:before { content: "\f22f"; }
.flaticon-381-smartphone-2:before { content: "\f230"; }
.flaticon-381-smartphone-3:before { content: "\f231"; }
.flaticon-381-smartphone-4:before { content: "\f232"; }
.flaticon-381-smartphone-5:before { content: "\f233"; }
.flaticon-381-smartphone-6:before { content: "\f234"; }
.flaticon-381-smartphone-7:before { content: "\f235"; }
.flaticon-381-speaker:before { content: "\f236"; }
.flaticon-381-speedometer:before { content: "\f237"; }
.flaticon-381-spotlight:before { content: "\f238"; }
.flaticon-381-star:before { content: "\f239"; }
.flaticon-381-star-1:before { content: "\f23a"; }
.flaticon-381-stop:before { content: "\f23b"; }
.flaticon-381-stop-1:before { content: "\f23c"; }
.flaticon-381-stopclock:before { content: "\f23d"; }
.flaticon-381-stopwatch:before { content: "\f23e"; }
.flaticon-381-stopwatch-1:before { content: "\f23f"; }
.flaticon-381-stopwatch-2:before { content: "\f240"; }
.flaticon-381-substract:before { content: "\f241"; }
.flaticon-381-substract-1:before { content: "\f242"; }
.flaticon-381-substract-2:before { content: "\f243"; }
.flaticon-381-success:before { content: "\f244"; }
.flaticon-381-success-1:before { content: "\f245"; }
.flaticon-381-success-2:before { content: "\f246"; }
.flaticon-381-sunglasses:before { content: "\f247"; }
.flaticon-381-switch:before { content: "\f248"; }
.flaticon-381-switch-1:before { content: "\f249"; }
.flaticon-381-switch-2:before { content: "\f24a"; }
.flaticon-381-switch-3:before { content: "\f24b"; }
.flaticon-381-switch-4:before { content: "\f24c"; }
.flaticon-381-switch-5:before { content: "\f24d"; }
.flaticon-381-sync:before { content: "\f24e"; }
.flaticon-381-tab:before { content: "\f24f"; }
.flaticon-381-target:before { content: "\f250"; }
.flaticon-381-television:before { content: "\f251"; }
.flaticon-381-time:before { content: "\f252"; }
.flaticon-381-transfer:before { content: "\f253"; }
.flaticon-381-trash:before { content: "\f254"; }
.flaticon-381-trash-1:before { content: "\f255"; }
.flaticon-381-trash-2:before { content: "\f256"; }
.flaticon-381-trash-3:before { content: "\f257"; }
.flaticon-381-turn-off:before { content: "\f258"; }
.flaticon-381-umbrella:before { content: "\f259"; }
.flaticon-381-unlocked:before { content: "\f25a"; }
.flaticon-381-unlocked-1:before { content: "\f25b"; }
.flaticon-381-unlocked-2:before { content: "\f25c"; }
.flaticon-381-unlocked-3:before { content: "\f25d"; }
.flaticon-381-unlocked-4:before { content: "\f25e"; }
.flaticon-381-upload:before { content: "\f25f"; }
.flaticon-381-upload-1:before { content: "\f260"; }
.flaticon-381-user:before { content: "\f261"; }
.flaticon-381-user-1:before { content: "\f262"; }
.flaticon-381-user-2:before { content: "\f263"; }
.flaticon-381-user-3:before { content: "\f264"; }
.flaticon-381-user-4:before { content: "\f265"; }
.flaticon-381-user-5:before { content: "\f266"; }
.flaticon-381-user-6:before { content: "\f267"; }
.flaticon-381-user-7:before { content: "\f268"; }
.flaticon-381-user-8:before { content: "\f269"; }
.flaticon-381-user-9:before { content: "\f26a"; }
.flaticon-381-video-camera:before { content: "\f26b"; }
.flaticon-381-video-clip:before { content: "\f26c"; }
.flaticon-381-video-player:before { content: "\f26d"; }
.flaticon-381-video-player-1:before { content: "\f26e"; }
.flaticon-381-view:before { content: "\f26f"; }
.flaticon-381-view-1:before { content: "\f270"; }
.flaticon-381-view-2:before { content: "\f271"; }
.flaticon-381-volume:before { content: "\f272"; }
.flaticon-381-warning:before { content: "\f273"; }
.flaticon-381-warning-1:before { content: "\f274"; }
.flaticon-381-wifi:before { content: "\f275"; }
.flaticon-381-wifi-1:before { content: "\f276"; }
.flaticon-381-wifi-2:before { content: "\f277"; }
.flaticon-381-windows:before { content: "\f278"; }
.flaticon-381-windows-1:before { content: "\f279"; }
.flaticon-381-zoom-in:before { content: "\f27a"; }
.flaticon-381-zoom-out:before { content: "\f27b"; }
    
    $font-Flaticon-381-add: "\f100";
    $font-Flaticon-381-add-1: "\f101";
    $font-Flaticon-381-add-2: "\f102";
    $font-Flaticon-381-add-3: "\f103";
    $font-Flaticon-381-alarm-clock: "\f104";
    $font-Flaticon-381-alarm-clock-1: "\f105";
    $font-Flaticon-381-album: "\f106";
    $font-Flaticon-381-album-1: "\f107";
    $font-Flaticon-381-album-2: "\f108";
    $font-Flaticon-381-album-3: "\f109";
    $font-Flaticon-381-app: "\f10a";
    $font-Flaticon-381-archive: "\f10b";
    $font-Flaticon-381-back: "\f10c";
    $font-Flaticon-381-back-1: "\f10d";
    $font-Flaticon-381-back-2: "\f10e";
    $font-Flaticon-381-background: "\f10f";
    $font-Flaticon-381-background-1: "\f110";
    $font-Flaticon-381-battery: "\f111";
    $font-Flaticon-381-battery-1: "\f112";
    $font-Flaticon-381-battery-2: "\f113";
    $font-Flaticon-381-battery-3: "\f114";
    $font-Flaticon-381-battery-4: "\f115";
    $font-Flaticon-381-battery-5: "\f116";
    $font-Flaticon-381-battery-6: "\f117";
    $font-Flaticon-381-battery-7: "\f118";
    $font-Flaticon-381-battery-8: "\f119";
    $font-Flaticon-381-battery-9: "\f11a";
    $font-Flaticon-381-binoculars: "\f11b";
    $font-Flaticon-381-blueprint: "\f11c";
    $font-Flaticon-381-bluetooth: "\f11d";
    $font-Flaticon-381-bluetooth-1: "\f11e";
    $font-Flaticon-381-book: "\f11f";
    $font-Flaticon-381-bookmark: "\f120";
    $font-Flaticon-381-bookmark-1: "\f121";
    $font-Flaticon-381-box: "\f122";
    $font-Flaticon-381-box-1: "\f123";
    $font-Flaticon-381-box-2: "\f124";
    $font-Flaticon-381-briefcase: "\f125";
    $font-Flaticon-381-broken-heart: "\f126";
    $font-Flaticon-381-broken-link: "\f127";
    $font-Flaticon-381-calculator: "\f128";
    $font-Flaticon-381-calculator-1: "\f129";
    $font-Flaticon-381-calendar: "\f12a";
    $font-Flaticon-381-calendar-1: "\f12b";
    $font-Flaticon-381-calendar-2: "\f12c";
    $font-Flaticon-381-calendar-3: "\f12d";
    $font-Flaticon-381-calendar-4: "\f12e";
    $font-Flaticon-381-calendar-5: "\f12f";
    $font-Flaticon-381-calendar-6: "\f130";
    $font-Flaticon-381-calendar-7: "\f131";
    $font-Flaticon-381-clock: "\f132";
    $font-Flaticon-381-clock-1: "\f133";
    $font-Flaticon-381-clock-2: "\f134";
    $font-Flaticon-381-close: "\f135";
    $font-Flaticon-381-cloud: "\f136";
    $font-Flaticon-381-cloud-computing: "\f137";
    $font-Flaticon-381-command: "\f138";
    $font-Flaticon-381-compact-disc: "\f139";
    $font-Flaticon-381-compact-disc-1: "\f13a";
    $font-Flaticon-381-compact-disc-2: "\f13b";
    $font-Flaticon-381-compass: "\f13c";
    $font-Flaticon-381-compass-1: "\f13d";
    $font-Flaticon-381-compass-2: "\f13e";
    $font-Flaticon-381-controls: "\f13f";
    $font-Flaticon-381-controls-1: "\f140";
    $font-Flaticon-381-controls-2: "\f141";
    $font-Flaticon-381-controls-3: "\f142";
    $font-Flaticon-381-controls-4: "\f143";
    $font-Flaticon-381-controls-5: "\f144";
    $font-Flaticon-381-controls-6: "\f145";
    $font-Flaticon-381-controls-7: "\f146";
    $font-Flaticon-381-controls-8: "\f147";
    $font-Flaticon-381-controls-9: "\f148";
    $font-Flaticon-381-database: "\f149";
    $font-Flaticon-381-database-1: "\f14a";
    $font-Flaticon-381-database-2: "\f14b";
    $font-Flaticon-381-diamond: "\f14c";
    $font-Flaticon-381-diploma: "\f14d";
    $font-Flaticon-381-dislike: "\f14e";
    $font-Flaticon-381-divide: "\f14f";
    $font-Flaticon-381-division: "\f150";
    $font-Flaticon-381-division-1: "\f151";
    $font-Flaticon-381-download: "\f152";
    $font-Flaticon-381-earth-globe: "\f153";
    $font-Flaticon-381-earth-globe-1: "\f154";
    $font-Flaticon-381-edit: "\f155";
    $font-Flaticon-381-edit-1: "\f156";
    $font-Flaticon-381-eject: "\f157";
    $font-Flaticon-381-eject-1: "\f158";
    $font-Flaticon-381-enter: "\f159";
    $font-Flaticon-381-equal: "\f15a";
    $font-Flaticon-381-equal-1: "\f15b";
    $font-Flaticon-381-equal-2: "\f15c";
    $font-Flaticon-381-error: "\f15d";
    $font-Flaticon-381-exit: "\f15e";
    $font-Flaticon-381-exit-1: "\f15f";
    $font-Flaticon-381-exit-2: "\f160";
    $font-Flaticon-381-fast-forward: "\f161";
    $font-Flaticon-381-fast-forward-1: "\f162";
    $font-Flaticon-381-file: "\f163";
    $font-Flaticon-381-file-1: "\f164";
    $font-Flaticon-381-file-2: "\f165";
    $font-Flaticon-381-film-strip: "\f166";
    $font-Flaticon-381-film-strip-1: "\f167";
    $font-Flaticon-381-fingerprint: "\f168";
    $font-Flaticon-381-flag: "\f169";
    $font-Flaticon-381-flag-1: "\f16a";
    $font-Flaticon-381-flag-2: "\f16b";
    $font-Flaticon-381-flag-3: "\f16c";
    $font-Flaticon-381-flag-4: "\f16d";
    $font-Flaticon-381-focus: "\f16e";
    $font-Flaticon-381-folder: "\f16f";
    $font-Flaticon-381-folder-1: "\f170";
    $font-Flaticon-381-folder-10: "\f171";
    $font-Flaticon-381-folder-11: "\f172";
    $font-Flaticon-381-folder-12: "\f173";
    $font-Flaticon-381-folder-13: "\f174";
    $font-Flaticon-381-folder-14: "\f175";
    $font-Flaticon-381-folder-15: "\f176";
    $font-Flaticon-381-folder-16: "\f177";
    $font-Flaticon-381-folder-17: "\f178";
    $font-Flaticon-381-folder-18: "\f179";
    $font-Flaticon-381-folder-19: "\f17a";
    $font-Flaticon-381-folder-2: "\f17b";
    $font-Flaticon-381-folder-3: "\f17c";
    $font-Flaticon-381-folder-4: "\f17d";
    $font-Flaticon-381-folder-5: "\f17e";
    $font-Flaticon-381-folder-6: "\f17f";
    $font-Flaticon-381-folder-7: "\f180";
    $font-Flaticon-381-folder-8: "\f181";
    $font-Flaticon-381-folder-9: "\f182";
    $font-Flaticon-381-forbidden: "\f183";
    $font-Flaticon-381-funnel: "\f184";
    $font-Flaticon-381-gift: "\f185";
    $font-Flaticon-381-heart: "\f186";
    $font-Flaticon-381-heart-1: "\f187";
    $font-Flaticon-381-help: "\f188";
    $font-Flaticon-381-help-1: "\f189";
    $font-Flaticon-381-hide: "\f18a";
    $font-Flaticon-381-high-volume: "\f18b";
    $font-Flaticon-381-home: "\f18c";
    $font-Flaticon-381-home-1: "\f18d";
    $font-Flaticon-381-home-2: "\f18e";
    $font-Flaticon-381-home-3: "\f18f";
    $font-Flaticon-381-hourglass: "\f190";
    $font-Flaticon-381-hourglass-1: "\f191";
    $font-Flaticon-381-hourglass-2: "\f192";
    $font-Flaticon-381-id-card: "\f193";
    $font-Flaticon-381-id-card-1: "\f194";
    $font-Flaticon-381-id-card-2: "\f195";
    $font-Flaticon-381-id-card-3: "\f196";
    $font-Flaticon-381-id-card-4: "\f197";
    $font-Flaticon-381-id-card-5: "\f198";
    $font-Flaticon-381-idea: "\f199";
    $font-Flaticon-381-incoming-call: "\f19a";
    $font-Flaticon-381-infinity: "\f19b";
    $font-Flaticon-381-internet: "\f19c";
    $font-Flaticon-381-key: "\f19d";
    $font-Flaticon-381-knob: "\f19e";
    $font-Flaticon-381-knob-1: "\f19f";
    $font-Flaticon-381-layer: "\f1a0";
    $font-Flaticon-381-layer-1: "\f1a1";
    $font-Flaticon-381-like: "\f1a2";
    $font-Flaticon-381-link: "\f1a3";
    $font-Flaticon-381-link-1: "\f1a4";
    $font-Flaticon-381-list: "\f1a5";
    $font-Flaticon-381-list-1: "\f1a6";
    $font-Flaticon-381-location: "\f1a7";
    $font-Flaticon-381-location-1: "\f1a8";
    $font-Flaticon-381-location-2: "\f1a9";
    $font-Flaticon-381-location-3: "\f1aa";
    $font-Flaticon-381-location-4: "\f1ab";
    $font-Flaticon-381-locations: "\f1ac";
    $font-Flaticon-381-lock: "\f1ad";
    $font-Flaticon-381-lock-1: "\f1ae";
    $font-Flaticon-381-lock-2: "\f1af";
    $font-Flaticon-381-lock-3: "\f1b0";
    $font-Flaticon-381-low-volume: "\f1b1";
    $font-Flaticon-381-low-volume-1: "\f1b2";
    $font-Flaticon-381-low-volume-2: "\f1b3";
    $font-Flaticon-381-low-volume-3: "\f1b4";
    $font-Flaticon-381-magic-wand: "\f1b5";
    $font-Flaticon-381-magnet: "\f1b6";
    $font-Flaticon-381-magnet-1: "\f1b7";
    $font-Flaticon-381-magnet-2: "\f1b8";
    $font-Flaticon-381-map: "\f1b9";
    $font-Flaticon-381-map-1: "\f1ba";
    $font-Flaticon-381-map-2: "\f1bb";
    $font-Flaticon-381-menu: "\f1bc";
    $font-Flaticon-381-menu-1: "\f1bd";
    $font-Flaticon-381-menu-2: "\f1be";
    $font-Flaticon-381-menu-3: "\f1bf";
    $font-Flaticon-381-microphone: "\f1c0";
    $font-Flaticon-381-microphone-1: "\f1c1";
    $font-Flaticon-381-more: "\f1c2";
    $font-Flaticon-381-more-1: "\f1c3";
    $font-Flaticon-381-more-2: "\f1c4";
    $font-Flaticon-381-multiply: "\f1c5";
    $font-Flaticon-381-multiply-1: "\f1c6";
    $font-Flaticon-381-music-album: "\f1c7";
    $font-Flaticon-381-mute: "\f1c8";
    $font-Flaticon-381-mute-1: "\f1c9";
    $font-Flaticon-381-mute-2: "\f1ca";
    $font-Flaticon-381-network: "\f1cb";
    $font-Flaticon-381-network-1: "\f1cc";
    $font-Flaticon-381-network-2: "\f1cd";
    $font-Flaticon-381-network-3: "\f1ce";
    $font-Flaticon-381-networking: "\f1cf";
    $font-Flaticon-381-networking-1: "\f1d0";
    $font-Flaticon-381-news: "\f1d1";
    $font-Flaticon-381-newspaper: "\f1d2";
    $font-Flaticon-381-next: "\f1d3";
    $font-Flaticon-381-next-1: "\f1d4";
    $font-Flaticon-381-note: "\f1d5";
    $font-Flaticon-381-notebook: "\f1d6";
    $font-Flaticon-381-notebook-1: "\f1d7";
    $font-Flaticon-381-notebook-2: "\f1d8";
    $font-Flaticon-381-notebook-3: "\f1d9";
    $font-Flaticon-381-notebook-4: "\f1da";
    $font-Flaticon-381-notebook-5: "\f1db";
    $font-Flaticon-381-notepad: "\f1dc";
    $font-Flaticon-381-notepad-1: "\f1dd";
    $font-Flaticon-381-notepad-2: "\f1de";
    $font-Flaticon-381-notification: "\f1df";
    $font-Flaticon-381-off: "\f1e0";
    $font-Flaticon-381-on: "\f1e1";
    $font-Flaticon-381-pad: "\f1e2";
    $font-Flaticon-381-padlock: "\f1e3";
    $font-Flaticon-381-padlock-1: "\f1e4";
    $font-Flaticon-381-padlock-2: "\f1e5";
    $font-Flaticon-381-panel: "\f1e6";
    $font-Flaticon-381-panel-1: "\f1e7";
    $font-Flaticon-381-panel-2: "\f1e8";
    $font-Flaticon-381-panel-3: "\f1e9";
    $font-Flaticon-381-paperclip: "\f1ea";
    $font-Flaticon-381-pause: "\f1eb";
    $font-Flaticon-381-pause-1: "\f1ec";
    $font-Flaticon-381-pencil: "\f1ed";
    $font-Flaticon-381-percentage: "\f1ee";
    $font-Flaticon-381-percentage-1: "\f1ef";
    $font-Flaticon-381-perspective: "\f1f0";
    $font-Flaticon-381-phone-call: "\f1f1";
    $font-Flaticon-381-photo: "\f1f2";
    $font-Flaticon-381-photo-camera: "\f1f3";
    $font-Flaticon-381-photo-camera-1: "\f1f4";
    $font-Flaticon-381-picture: "\f1f5";
    $font-Flaticon-381-picture-1: "\f1f6";
    $font-Flaticon-381-picture-2: "\f1f7";
    $font-Flaticon-381-pin: "\f1f8";
    $font-Flaticon-381-play-button: "\f1f9";
    $font-Flaticon-381-play-button-1: "\f1fa";
    $font-Flaticon-381-plus: "\f1fb";
    $font-Flaticon-381-presentation: "\f1fc";
    $font-Flaticon-381-price-tag: "\f1fd";
    $font-Flaticon-381-print: "\f1fe";
    $font-Flaticon-381-print-1: "\f1ff";
    $font-Flaticon-381-privacy: "\f200";
    $font-Flaticon-381-promotion: "\f201";
    $font-Flaticon-381-promotion-1: "\f202";
    $font-Flaticon-381-push-pin: "\f203";
    $font-Flaticon-381-quaver: "\f204";
    $font-Flaticon-381-quaver-1: "\f205";
    $font-Flaticon-381-radar: "\f206";
    $font-Flaticon-381-reading: "\f207";
    $font-Flaticon-381-receive: "\f208";
    $font-Flaticon-381-record: "\f209";
    $font-Flaticon-381-repeat: "\f20a";
    $font-Flaticon-381-repeat-1: "\f20b";
    $font-Flaticon-381-resume: "\f20c";
    $font-Flaticon-381-rewind: "\f20d";
    $font-Flaticon-381-rewind-1: "\f20e";
    $font-Flaticon-381-ring: "\f20f";
    $font-Flaticon-381-ring-1: "\f210";
    $font-Flaticon-381-rotate: "\f211";
    $font-Flaticon-381-rotate-1: "\f212";
    $font-Flaticon-381-route: "\f213";
    $font-Flaticon-381-save: "\f214";
    $font-Flaticon-381-search: "\f215";
    $font-Flaticon-381-search-1: "\f216";
    $font-Flaticon-381-search-2: "\f217";
    $font-Flaticon-381-search-3: "\f218";
    $font-Flaticon-381-send: "\f219";
    $font-Flaticon-381-send-1: "\f21a";
    $font-Flaticon-381-send-2: "\f21b";
    $font-Flaticon-381-settings: "\f21c";
    $font-Flaticon-381-settings-1: "\f21d";
    $font-Flaticon-381-settings-2: "\f21e";
    $font-Flaticon-381-settings-3: "\f21f";
    $font-Flaticon-381-settings-4: "\f220";
    $font-Flaticon-381-settings-5: "\f221";
    $font-Flaticon-381-settings-6: "\f222";
    $font-Flaticon-381-settings-7: "\f223";
    $font-Flaticon-381-settings-8: "\f224";
    $font-Flaticon-381-settings-9: "\f225";
    $font-Flaticon-381-share: "\f226";
    $font-Flaticon-381-share-1: "\f227";
    $font-Flaticon-381-share-2: "\f228";
    $font-Flaticon-381-shuffle: "\f229";
    $font-Flaticon-381-shuffle-1: "\f22a";
    $font-Flaticon-381-shut-down: "\f22b";
    $font-Flaticon-381-silence: "\f22c";
    $font-Flaticon-381-silent: "\f22d";
    $font-Flaticon-381-smartphone: "\f22e";
    $font-Flaticon-381-smartphone-1: "\f22f";
    $font-Flaticon-381-smartphone-2: "\f230";
    $font-Flaticon-381-smartphone-3: "\f231";
    $font-Flaticon-381-smartphone-4: "\f232";
    $font-Flaticon-381-smartphone-5: "\f233";
    $font-Flaticon-381-smartphone-6: "\f234";
    $font-Flaticon-381-smartphone-7: "\f235";
    $font-Flaticon-381-speaker: "\f236";
    $font-Flaticon-381-speedometer: "\f237";
    $font-Flaticon-381-spotlight: "\f238";
    $font-Flaticon-381-star: "\f239";
    $font-Flaticon-381-star-1: "\f23a";
    $font-Flaticon-381-stop: "\f23b";
    $font-Flaticon-381-stop-1: "\f23c";
    $font-Flaticon-381-stopclock: "\f23d";
    $font-Flaticon-381-stopwatch: "\f23e";
    $font-Flaticon-381-stopwatch-1: "\f23f";
    $font-Flaticon-381-stopwatch-2: "\f240";
    $font-Flaticon-381-substract: "\f241";
    $font-Flaticon-381-substract-1: "\f242";
    $font-Flaticon-381-substract-2: "\f243";
    $font-Flaticon-381-success: "\f244";
    $font-Flaticon-381-success-1: "\f245";
    $font-Flaticon-381-success-2: "\f246";
    $font-Flaticon-381-sunglasses: "\f247";
    $font-Flaticon-381-switch: "\f248";
    $font-Flaticon-381-switch-1: "\f249";
    $font-Flaticon-381-switch-2: "\f24a";
    $font-Flaticon-381-switch-3: "\f24b";
    $font-Flaticon-381-switch-4: "\f24c";
    $font-Flaticon-381-switch-5: "\f24d";
    $font-Flaticon-381-sync: "\f24e";
    $font-Flaticon-381-tab: "\f24f";
    $font-Flaticon-381-target: "\f250";
    $font-Flaticon-381-television: "\f251";
    $font-Flaticon-381-time: "\f252";
    $font-Flaticon-381-transfer: "\f253";
    $font-Flaticon-381-trash: "\f254";
    $font-Flaticon-381-trash-1: "\f255";
    $font-Flaticon-381-trash-2: "\f256";
    $font-Flaticon-381-trash-3: "\f257";
    $font-Flaticon-381-turn-off: "\f258";
    $font-Flaticon-381-umbrella: "\f259";
    $font-Flaticon-381-unlocked: "\f25a";
    $font-Flaticon-381-unlocked-1: "\f25b";
    $font-Flaticon-381-unlocked-2: "\f25c";
    $font-Flaticon-381-unlocked-3: "\f25d";
    $font-Flaticon-381-unlocked-4: "\f25e";
    $font-Flaticon-381-upload: "\f25f";
    $font-Flaticon-381-upload-1: "\f260";
    $font-Flaticon-381-user: "\f261";
    $font-Flaticon-381-user-1: "\f262";
    $font-Flaticon-381-user-2: "\f263";
    $font-Flaticon-381-user-3: "\f264";
    $font-Flaticon-381-user-4: "\f265";
    $font-Flaticon-381-user-5: "\f266";
    $font-Flaticon-381-user-6: "\f267";
    $font-Flaticon-381-user-7: "\f268";
    $font-Flaticon-381-user-8: "\f269";
    $font-Flaticon-381-user-9: "\f26a";
    $font-Flaticon-381-video-camera: "\f26b";
    $font-Flaticon-381-video-clip: "\f26c";
    $font-Flaticon-381-video-player: "\f26d";
    $font-Flaticon-381-video-player-1: "\f26e";
    $font-Flaticon-381-view: "\f26f";
    $font-Flaticon-381-view-1: "\f270";
    $font-Flaticon-381-view-2: "\f271";
    $font-Flaticon-381-volume: "\f272";
    $font-Flaticon-381-warning: "\f273";
    $font-Flaticon-381-warning-1: "\f274";
    $font-Flaticon-381-wifi: "\f275";
    $font-Flaticon-381-wifi-1: "\f276";
    $font-Flaticon-381-wifi-2: "\f277";
    $font-Flaticon-381-windows: "\f278";
    $font-Flaticon-381-windows-1: "\f279";
    $font-Flaticon-381-zoom-in: "\f27a";
    $font-Flaticon-381-zoom-out: "\f27b";